<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#relations" class="nav-link">Relations</a>
    <a href="#request_attr" class="nav-link">Attributes</a>
    <a href="#request_creator_attr" class="nav-link">Request creator</a>
    <a href="#request_task_attr" class="nav-link">Task</a>
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/task_requests">Task requests</a></li>
      <li class="breadcrumb-item active" aria-current="page">Current request</li>
      <li class="breadcrumb-item small">Editing mode</li>
    </ol>
    <h1 class="df-title">Current request</h1>

    <%= form_with model: @request, url: admin_task_request_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :price, placeholder: "requests price", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Update", class: "btn btn-success" %>
          </div>
        </div>
        <div class="row row-sm mg-y-20">
          <div class="col-sm-12">
            <%= f.text_field :message, placeholder: "System name", class: 'form-control' %>
          </div>
        </div>
      </div>
      <hr class="mg-y-20">
    <% end %>

    <hr class="mg-y-20">

    <div data-label="request attributes" class="df-example demo-forms" id="relations">
      <div class="">
        Request creator: <%= link_to @request.user.email, edit_admin_user_path(@request.user) %><br/>
        Task: <%= link_to @request.task.title, edit_admin_task_path(@request.task) %><br/>
        Task creator: <%= link_to @request.task.user.email, edit_admin_user_path(@request.task.user) %><br/>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="request attributes" class="df-example demo-forms" id="request_attr">
      <div class="row row-sm">
        <% @request.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="request creator" class="df-example demo-forms" id="request_creator_attr">
      <div class="row row-sm">
        <% @request.user.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Task attributes" class="df-example demo-forms" id="request_task_attr">
      <div class="row row-sm">
        <% @request.task.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Task creator" class="df-example demo-forms" id="request_task_creator_attr">
      <div class="row row-sm">
        <% @request.task.user.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_task_requests_path, class: 'btn btn-outline-success' %></li>
  </ul>
</div>