<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Task requests</li>
    </ol>
    <h1 class="df-title">Task requests</h1>
    <div data-label="All tasks" class="df-example demo-table">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-10p">User</th>
          <th class="wd-10p">Task</th>
          <th class="wd-10p">Task creator</th>
          <th class="wd-15p">Price</th>
          <th class="wd-15p">Message</th>
          <th class="wd-20p">States</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @requests.each do |request| %>
          <% task = request.task %>
          <% task_user = task.user %>
          <tr>
            <td><%= request.id %></td>

            <td>
              id: <%= request.user.id %><br/>
              email: <%= link_to request.user.email, edit_admin_user_path(request.user) %>
            </td>

            <td>
              id: <%= task.id %><br/>
              title: <%= link_to task.title, edit_admin_task_path(task) %>
            </td>

            <td>
              id: <%= task_user.id %><br/>
              email: <%= link_to task_user.email, edit_admin_user_path(request.user) %>
            </td>

            <td>
              <%= pretty_price(request.price) %>
            </td>

            <td>
              <%= short_title(request.message, 10) %>
            </td>

            <td>
              st: <%= request.state %><br/>
              del: <%= request.deleted %>
            </td>

            <td>
              <%= link_to 'Edit', edit_admin_task_request_path(request) %><br/>
              <%= link_to 'Delete', admin_task_request_path(request), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="buttons_container">
  <ul>
    <li><%= link_to "New", new_admin_task_path, class: 'btn btn-outline-success' %></li>
  </ul>
</div>
