
.breadcrumb {
  background-color:  #e5e9f2;
}

.breadcrumb-style1,
.breadcrumb-style2,
.breadcrumb-style3 {
  @include border-radius(0);
  background-color: transparent;
  padding: 0;

  .breadcrumb-item {
    font-size: 10px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: .5px;
    text-transform: uppercase;

    a {
      color: $gray-900;
      @include hover-focus() { color: #0168fa; }
    }

    &.active { color: #0168fa; }

    + .breadcrumb-item::before { color: $gray-500; }
  }
}

.breadcrumb-style2,
.breadcrumb-style3 {
  .breadcrumb-item + .breadcrumb-item::before {
    width: 16px;
    text-align: center;
    font-family: 'Ionicons';
  }
}

.breadcrumb-style2 {
  .breadcrumb-item + .breadcrumb-item::before { content: '\f3d1'; }
}

.breadcrumb-style3 {
  .breadcrumb-item + .breadcrumb-item::before { content: '\f287'; }
}
