

.dropdown-menu {
  border-color: rgba(#8392a5, .27);
  box-shadow: 0 0 8px 2px rgba($gray-900, .04);
  padding: 5px;
}

.dropdown-item {
  padding: 6px 15px;
  @include border-radius();
  @include transition($transition-base);

  @include hover-focus() {
    background-color:  #e5e9f2;
  }

  &.active { background-color: #0168fa; }
}

.dropdown-header {
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-divider { margin: 2px 15px; }
