
.form-control {
  color: #1b2e4b;
  font-size: inherit;

  &::placeholder { color: #c0ccda; }

  &:disabled,
  &[readonly] { background-color: #f5f6fa; }
}

textarea.form-control { min-height: 38px; }

.form-group { margin-bottom: 20px; }

.form-fieldset {
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 20px 25px 25px;
  @include border-radius();

  .form-group:last-child { margin-bottom: 0; }

  legend {
    width: auto;
    background-color: inherit;
    padding: 0 10px;
    position: relative;
    margin-left: -10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: inherit;
    color: $gray-900;
    letter-spacing: .5;
    margin-bottom: 0;
  }
}
