
$gray-50:                         #fafbfc;
$gray-100:                        #f4f5f8;
$gray-200:                        #e3e7ed;
$gray-300:                        #cdd4e0;
$gray-400:                        #b4bdce;
$gray-500:                        #97a3b9;
$gray-600:                        #7987a1;
$gray-700:                        #596882;
$gray-800:                        #3b4863;
$gray-900:                        #1c273c;

$blue:                            #0168fa;
$green:                           #10b759;
$teal:                            #00cccc;
$cyan:                            #00b8d4;
$pink:                            #f10075;
$indigo:                          #5b47fb;

// Body
$body-color:                      #001737;

// Border
$border-color:                    rgba(darken( #e5e9f2, 50%), .16);

// Buttons + Forms
$btn-focus-box-shadow:            none;
$btn-active-box-shadow:           none;

$input-btn-padding-y:             .46875rem;
$input-btn-padding-y-sm:          .391rem;
$input-btn-padding-y-lg:          .6rem;
$input-btn-padding-x:             .625rem;

$input-btn-font-size:             .875rem;
$input-btn-font-size-sm:          .8125rem;

// Buttons
$btn-padding-x:                   .9375rem;

// Card
$card-border-color:               $border-color;

// Close
$close-color:                     #1b2e4b;

// Fonts
$font-size-base:                  .875rem;
$font-family-base:                'IBM Plex Sans', sans-serif;

$headings-font-weight:            500;
$headings-color:                  #001737;
$headings-line-height:            1.25;
$headings-font-weight:            500;

// Forms
$input-border-color:              #c0ccda;
$input-group-addon-bg:            #f5f6fa;

// Grid
$grid-gutter-width:               30px;


// Links
$link-color:                      #0168fa;
$link-hover-decoration:           none;

// Popover
$popover-border-color:            $border-color;
