
.link-01 {
  color: #001737;
  @include hover-focus() { color: #0168fa; }
}

.link-02 {
  color: #1b2e4b;
  @include hover-focus() { color: #001737; }
}

.link-03 {
  color: #8392a5;
  @include hover-focus() { color: #1b2e4b; }
}

.hover-primary {
  @include hover-focus() { color: #0168fa; }
}
