<div class="content content-fixed content-auth">
  <div class="container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "m-login__form m-form"}) do |f| %>
    <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
      <div class="sign-wrapper">
        <div class="wd-100p">
          <h3 class="tx-color-01 mg-b-5">Sign In</h3>
          <div class="form-group">
            <label>Email </label>
            <%= f.email_field :email, autofocus: true, autocomplete: "Email", placeholder: "example@email.com", class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between mg-b-5">
              <label class="mg-b-0-f">Password</label>
            </div>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль", class: "form-control" %>
          </div>

          <%= f.button "Вход", class: "btn btn-brand-02 btn-block" %>
        </div>
      </div><!-- sign-wrapper -->
    </div><!-- media -->
    <% end %>
  </div><!-- container -->
</div>
