<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#relations" class="nav-link">Relations</a>
    <a href="#attr" class="nav-link">Attributes</a>
    <a href="#creator_attr" class="nav-link">Creator</a>
    <a href="#recipient_attr" class="nav-link">Recipient</a>
    <a href="#task_attr" class="nav-link">Task</a>
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/reviews">Reviews</a></li>
      <li class="breadcrumb-item active" aria-current="page">Current review</li>
      <li class="breadcrumb-item small">Editing mode</li>
    </ol>
    <h1 class="df-title">Current review</h1>

    <%= form_with model: @review, url: admin_review_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :description, placeholder: "requests price", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Update", class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <hr class="mg-y-20">
    <% end %>

    <hr class="mg-y-20">

    <div data-label="Review relations" class="df-example demo-forms" id="relations">
      <div class="">
        Review creator: <%= link_to @review.creator.email, edit_admin_user_path(@review.creator) %><br/>
        Review recipient: <%= link_to @review.recipient.email, edit_admin_user_path(@review.recipient) %><br/>
        Task: <%= link_to @review.task.title, edit_admin_task_path(@review.task) %><br/>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Review attributes" class="df-example demo-forms" id="attr">
      <div class="row row-sm">
        <% @review.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Review creator" class="df-example demo-forms" id="creator_attr">
      <div class="row row-sm">
        <% @review.creator.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Review recipient" class="df-example demo-forms" id="recipient_attr">
      <div class="row row-sm">
        <% @review.recipient.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Task" class="df-example demo-forms" id="task_attr">
      <div class="row row-sm">
        <% @review.task.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_reviews_path, class: 'btn btn-outline-success' %></li>
  </ul>
</div>