<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reviews</li>
    </ol>
    <h1 class="df-title">Reviews</h1>
    <div data-label="All tasks" class="df-example demo-table">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-10p">Creator</th>
          <th class="wd-10p">Reciplient</th>
          <th class="wd-10p">Task</th>
          <th class="wd-3p">Rating</th>
          <th class="wd-15p">Message</th>
          <th class="wd-20p">States</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @reviews.each do |review| %>
          <% task = review.task %>
          <% creator = review.creator %>
          <% recipient = review.recipient %>
          <tr>
            <td><%= review.id %></td>

            <td>
              id: <%= creator.id %><br/>
              email: <%= link_to creator.email, edit_admin_user_path(creator) %>
            </td>

            <td>
              id: <%= recipient.id %><br/>
              email: <%= link_to recipient.email, edit_admin_user_path(recipient) %>
            </td>

            <td>
              id: <%= task.id %><br/>
              title: <%= link_to task.title, edit_admin_task_path(task) %>
            </td>

            <td>
              <%= review.rating %>
            </td>

            <td>
              <%= short_title(review.description, 10) %>
            </td>

            <td>
              st: <%= review.state %><br/>
              del: <%= review.deleted %>
            </td>

            <td>
              <%= link_to 'Edit', edit_admin_review_path(review) %><br/>
              <%= link_to 'Delete', admin_review_path(review), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>