/*
 * Dashforge File Manager Page
 *
 * This style is use in file manager page.
 *
 */

// Variables
@import "../variables";
@import "../bootstrap/variables";

// Mixins
@import "../mixins";
@import "../bootstrap/mixins";

// Bootsrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


.app-filemgr {

  &.filemgr-sidebar-show {
    @include media-breakpoint-down(md) {
      .filemgr-sidebar {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      .filemgr-content {
        transform: translateX(240px);
      }
    }
  }
}

.filemgr-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  @include media-breakpoint-up(lg) {
    top: 60px;
  }
}

.filemgr-wrapper-two {
  @include media-breakpoint-up(lg) {
    position: relative;
    height: 100%;
    top: auto;
  }
}

.filemgr-sidebar {
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -240px;
  width: 240px;
  border-right: 1px solid $border-color;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.3s);

  @include media-breakpoint-up(lg) {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}

.filemgr-sidebar-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  padding: 0 20px;

  button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    letter-spacing: .5px;

    &.btn-white { font-weight: 700; }

    + button { margin-left: 10px; }

    svg {
      width: 12px;
      height: 12px;
      stroke-width: 2.5px;
      margin-top: -1px;
    }
  }
}

.filemgr-sidebar-body {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
}

.filemgr-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include transition(all 0.3s);

  @include media-breakpoint-up(lg) {
    left: 240px;
  }
}

.filemgr-content-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .feather-search {
    color: #8392a5;
    align-self: center;
    width: 18px;
    stroke-width: 2.8px;
    margin-right: 10px;
    margin-top: -2px;
  }

  .search-form {
    display: flex;
    align-items: center;

    .form-control {
      border-width: 0;
      background-color: transparent;
      font-size: inherit;
      padding: 0;
      color: #1b2e4b;
    }
  }

  .nav-link {
    padding: 0;

    + .nav-link { margin-left: 10px; }

    svg {
      width: 20px;
      height: 20px;
      stroke-width: 2.2px;

      &.feather-settings {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.filemgr-content-body {
  background-color: lighten(#f5f6fa, 1%);
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;

  > div:first-child {
    @include media-breakpoint-up(xl) {
      max-width: 1140px;
    }
  }
}

.dropdown-file {
  position: absolute;
  top: 8px;
  right: 4px;

  .dropdown-link {
    color: rgba(#8392a5, .5);
    @include hover-focus() { color: #1b2e4b; }

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .dropdown-item {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 5px 10px;

    svg {
      width: 14px;
      height: 14px;
      stroke-width: 2.5px;
      margin-right: 10px;
      color: #8392a5;
    }
  }
}

.card-file {
  padding: 10px;
  position: relative;
  border-color: $border-color;
  @include transition($transition-base);

  @include hover-focus() {
    border-color: #c0ccda;
  }

  .card-body { padding: 15px 0 0; }
  .card-footer {
    font-size: 11px;
    color: #c0ccda;
    padding: 10px 0 0;
    border-top-width: 0;
    background-color: transparent;
  }

  h6 {
    margin-bottom: 0;

    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      width: 100%;
    }
  }

  p {
    margin-bottom: 0;
    color: darken(#8392a5, 25%);
  }

  span {
    font-size: 12px;
    color: #8392a5;
  }
}

.card-file-thumb {
  background-color: #f5f6fa;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;

  @include media-breakpoint-up(sm) {
    height: 100px;
    font-size: 40px;
  }

  @include media-breakpoint-up(lg) {
    height: 120px;
    font-size: 48px;
  }
}

.media-folder {
  position: relative;
  border: 1px solid $border-color;
  padding: 10px 12px;
  background-color: #fff;
  @include border-radius();
  @include transition($transition-base);

  @include hover-focus() {
    border-color: #c0ccda;
  }

  > svg {
    width: 42px;
    height: 42px;
    stroke-width: 1.5px;
    color: #0168fa;
    opacity: .7;
  }

  .media-body {
    margin-top: 5px;
    margin-left: 10px;

    h6 { margin-bottom: 1px; }

    span {
      font-size: 12px;
      color: #8392a5;
      display: block;
    }
  }
}

.aside-filemgr {
  @include media-breakpoint-up(lg) {
    + .content { margin-left: 60px; }
  }
}
