<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#prices" class="nav-link">Prices</a>
    <a href="#dates" class="nav-link">Dates</a>
    <a href="#all_attr" class="nav-link">Attributes</a>
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/tasks">Tasks</a></li>
      <li class="breadcrumb-item active" aria-current="page">New task</li>
      <li class="breadcrumb-item small">Creating mode</li>
    </ol>
    <h1 class="df-title"><%= @task.title %></h1>

    <%= form_with model: @task, url: admin_task_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :title, placeholder: "Task title", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Update", class: "btn btn-success" %>
          </div>
        </div>
        <div class="row row-sm mg-y-20">
          <div class="col-sm-12">
            <%= f.text_area :description, placeholder: "Task description", class: 'form-control' %>
          </div>
        </div>

        <div class="row row-sm mg-y-20">
          <div class="col-sm-12">
            <%= f.text_field :service_location, placeholder: "Service location", class: 'form-control' %>
          </div>
        </div>

        <div class="row row-sm mg-y-20">
          <div class="col-sm-6">
            <%= f.select :category_id, [['Parent category']], {}, {placeholder: "Parent category",
                                                                   class: 'form-control custom-select'} %>
          </div>
          <div class="col-sm-6">
            <%= f.select :category_id, [['Children category']], {}, {placeholder: "Children category",
                                                                     class: 'form-control custom-select'} %>
          </div>
        </div>
      </div>

      <hr class="mg-y-20">

      <div data-label="Prices" class="df-example demo-forms" id="dates">
        <div class="row row-sm mg-y-20">
          <div class="col-sm-6">
            <%= f.text_field :price, placeholder: "Price", class: 'form-control' %>
          </div>
          <div class="col-sm-6">
            <%= f.select :payment_type, [['Cash payment', 0], ['Cart', 1]], {},
                         {placeholder: "Payment type",
                          class: 'form-control custom-select',
                          include_blank: 'Payment type'} %>
          </div>
        </div>
      </div>


      <hr class="mg-y-20">

      <div data-label="Dates" class="df-example demo-forms" id="dates">
        <div class="row row-sm mg-y-20">
          <div class="col-sm-6">
            <%= f.text_field :start_date, placeholder: "Start date", class: 'form-control input-date' %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :completion_date, placeholder: "Completion date", class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <hr class="mg-y-20">

    <div data-label="attributes" class="df-example demo-forms" id="all_attr">
      <div class="row row-sm">
        <% @task.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_tasks_path, class: 'btn btn-outline-primary' %></li>
  </ul>
</div>
