<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
    <h1 class="df-title">Tasks</h1>
    <div data-label="All tasks" class="df-example demo-table">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-20p">Title</th>
          <th class="wd-25p">User</th>
          <th class="wd-20p">Category</th>
          <th class="wd-15p">States</th>
          <th class="wd-15p">Completed</th>
          <th class="wd-20p">Dates</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= link_to short_title(task.title, 15), edit_admin_task_path(task) %></td>
            <td>
              id: <%= task.user.id %><br/>
              email: <%= link_to task.user.email, edit_admin_user_path(task.user_id) %>
            </td>
            <td>
              <% category = task.category %>
              <%= link_to category.parent.title, edit_admin_category_path(category.parent) %><br/>
              <%= link_to category.title, edit_admin_category_path(category) %>
            </td>
            <td>
              deleted: <%= task.deleted %><br/>
              state: <%= task.state %>
            </td>
            <td>
              <%= pretty_datetime(task.completion_date) %>
            </td>
            <td>
              crd: <%= pretty_datetime(task.created_at) %><br/>
              upd: <%= pretty_datetime(task.updated_at) %><br/>
              cmp: <%= pretty_datetime(task.completed_at) %><br/>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_task_path(task) %><br/>
              <%= link_to 'Delete', admin_task_path(task), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
