<header class="navbar navbar-header navbar-header-fixed">
  <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
  <div class="navbar-brand">
    <a href="/admin/dashboard" class="df-logo">Hiring<span>Pro</span></a>
  </div>
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="/" class="df-logo">dash<span>forge</span></a>
      <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
    </div>
    <ul class="nav navbar-menu">

      <li class="nav-item with-sub">
        <a href="#" class="nav-link">Content</a>
        <ul class="navbar-menu-sub">
          <li class="nav-sub-item"><a href="/admin/cities" class="nav-sub-link">Cities</a></li>
          <li class="nav-sub-item"><a href="/admin/categories" class="nav-sub-link">Categories</a></li>
        </ul>
      </li>

      <li class="nav-item with-sub">
        <a href="#" class="nav-link">Tasks</a>
        <ul class="navbar-menu-sub">
          <li class="nav-sub-item"><a href="/admin/tasks" class="nav-sub-link">Tasks</a></li>
          <li class="nav-sub-item"><a href="/admin/task_requests" class="nav-sub-link">Task Requests</a></li>
          <li class="nav-sub-item"><a href="/admin/reviews" class="nav-sub-link">Reviews</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="/admin/users" class="nav-link"><i data-feather="archive"></i>Users</a></li>
      <li class="nav-item"><a href="/admin/tickets" class="nav-link"><i data-feather="archive"></i>Support</a></li>
    </ul>
  </div>
  <div class="navbar-right">
    <%= link_to "<span>Log out</span>".html_safe, destroy_admin_session_path, method: :delete, class: 'btn btn-buy' %>
  </div>
</header>