<div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components">
  <div class="sidebar-header">
    <a href="" id="mainMenuOpen"><i data-feather="menu"></i></a>
    <h5>Components</h5>
    <a href="" id="sidebarMenuClose"><i data-feather="x"></i></a>
  </div>
  <div class="sidebar-body">
    <ul class="sidebar-nav">
      <li class="nav-label mg-b-15">Admin Panel</li>
      <li class="nav-item"><a href="/admin/dashboard" class="nav-link">Dashboard</a></li>
      <li class="nav-item"><a href="/admin/categories" class="nav-link">Categories</a></li>
      <li class="nav-item"><a href="/admin/cities" class="nav-link">Cities</a></li>
    </ul>
  </div>
</div>