<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Support</li>
    </ol>
    <h1 class="df-title">Support</h1>
    <div data-label="Active support requests" class="df-example demo-table m-bottom15">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-20p">Title</th>
          <th class="wd-25p">User</th>
          <th class="wd-15p">Type</th>
          <th class="wd-15p">State</th>
          <th class="wd-15p">Answered</th>
          <th class="wd-20p">Dates</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @active_tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= link_to short_title(ticket.subject, 15), admin_ticket_path(ticket) %></td>
            <td>
              id: <%= ticket.user.id %><br/>
              email: <%= link_to ticket.user.email, edit_admin_user_path(ticket.user_id) %>
            </td>
            <td>
              <%= ticket.reason_type %>
            </td>
            <td>
             <%= ticket.state %>
            </td>
            <td>
              <%= ticket.admin_answered %>
            </td>
            <td>
              crd: <%= pretty_datetime(ticket.created_at) %><br/>
              upd: <%= pretty_datetime(ticket.updated_at) %><br/>
            </td>
            <td>
              <%= link_to 'Show', admin_ticket_path(ticket) %><br/>
              <%= link_to 'Delete', admin_ticket_path(ticket), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div data-label="Deleted support requests" class="df-example demo-table">
      <table id="smart-table2" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-20p">Title</th>
          <th class="wd-25p">User</th>
          <th class="wd-15p">Type</th>
          <th class="wd-15p">State</th>
          <th class="wd-15p">Answered</th>
          <th class="wd-20p">Dates</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @deteled_tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= link_to short_title(ticket.subject, 15), admin_ticket_path(ticket) %></td>
            <td>
              id: <%= ticket.user.id %><br/>
              email: <%= link_to ticket.user.email, edit_admin_user_path(ticket.user_id) %>
            </td>
            <td>
              <%= ticket.reason_type %>
            </td>
            <td>
              <%= ticket.state %>
            </td>
            <td>
              <%= ticket.admin_answered %>
            </td>
            <td>
              crd: <%= pretty_datetime(ticket.created_at) %><br/>
              upd: <%= pretty_datetime(ticket.updated_at) %><br/>
              del: <%= pretty_datetime(ticket.deleted_at) %><br/>
            </td>
            <td>
              <%= link_to 'Show', admin_ticket_path(ticket) %><br/>
              <%= link_to 'Delete', admin_ticket_path(ticket), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
