<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/tickets">Support</a></li>
      <li class="breadcrumb-item active"><%= link_to @ticket.subject, '#' %></li>
    </ol>
    <h1 class="df-title"><%= @ticket.subject %></h1>
    <p><%= @ticket.description %></p>
    <div class="chat-group-divider"><%= pretty_datetime(@ticket.created_at) %>></div>
    <div data-label="Messages" class="df-example demo-forms" id="main_info">
      <div class="chat-group">
        <% @messages.each do |message| %>
          <div class="media">
            <div class="avatar avatar-sm">
              <span class="avatar-initial rounded-circle"><%= message.user ? 'U' : 'A' %></span></div>
            <div class="media-body">
              <h6>
                <% if message.user %>
                  <%= message.user.email %>  <%= link_to "#{message.user.name }", admin_user_path(message.user_id) %>
                  <small><%= pretty_datetime(message.created_at) %></small>
                <% elsif message.admin %>
                  <%= message.admin.email %>  <%= link_to "#{message.admin.name }", '#' %>
                  <small><%= pretty_datetime(message.created_at) %>></small>
                <% end %>
              </h6>
              <p><%= message.content %></p>
            </div>
          </div>
        <% end %>
      </div>

      <% unless @ticket.deleted? %>
        <%= form_with model: @message, url: admin_ticket_messages_path, local: true do |f| %>
          <div class="row row-sm">
            <div class="col-sm-10">
              <%= f.text_field :content, placeholder: "Message", class: 'form-control' %>
            </div>
            <div class="col-sm-2 m-top-1">
              <%= f.hidden_field(:ticket_id, value: @ticket.id)%>
              <%= f.submit "Save", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>Problem resolved <%= pretty_datetime(@ticket.deleted_at) %></h3>
      <% end %>
    </div>
  </div>
</div>

<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_tickets_path, class: 'btn btn-outline-primary' %></li>
    <% unless @ticket.deleted? %>
      <li><%= link_to 'Delete', admin_ticket_path(@ticket), method: :delete, class: 'btn btn-outline-danger' %></li>
    <% end %>
  </ul>
</div>