<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#seo" class="nav-link">SEO</a>
    <a href="#all_attr" class="nav-link">Attributes</a>
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/cities">Сities</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @city.title %></li>
      <li class="breadcrumb-item small">editing mode</li>
    </ol>
    <h1 class="df-title"><%= @city.title %></h1>

    <%= form_with model: @city, url: admin_city_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :title, placeholder: "City title", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Update", class: "btn btn-success" %>
          </div>
        </div>
      </div>

      <hr class="mg-y-20">

      <div data-label="SEO" class="df-example demo-forms" id="seo">
          <div class="row row-sm">
            <div class="col-sm-12 mg-t-12 m-bottom15">
              <%= f.text_field :meta_title, placeholder: "Meta title", class: 'form-control' %>
            </div>

            <div class="col-sm-12 mg-t-12 m-bottom15">
              <%= f.text_area :meta_description, placeholder: "Meta description", class: 'form-control' %>
            </div>

            <div class="col-sm-12 mg-t-12 m-bottom15">
              <%= f.text_area :meta_keywords, placeholder: "Meta keywords", class: 'form-control' %>
            </div>
          </div>
      </div>

    <% end %>
    <hr class="mg-y-20">

    <div data-label="attributes" class="df-example demo-forms" id="all_attr">
      <div class="row row-sm">
        <% @city.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_cities_path, class: 'btn btn-outline-primary' %></li>
    <li>
      <% if @city.deleted %>
        <%= link_to "Restore", restore_admin_city_path(@city), method: :post,
                    data: { confirm: "Restore #{@city.title} ?" }, class: 'btn btn-outline-warning' %>
      <% else %>
        <%= link_to "Destroy", admin_city_path(@city), method: :delete,
                    data: { confirm: "Delete #{@city.title} ?" }, class: 'btn btn-outline-warning' %>
      <% end %>

    </li>
  </ul>
</div>
