<div class="content full_width">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cities</li>
    </ol>

    <h1 class="df-title">Cities</h1>

    <div data-label="All cities" class="df-example demo-table">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-20p">Title</th>
          <th class="wd-25p">Users</th>
          <th class="wd-20p">Tasks</th>
          <th class="wd-15p">Deleted</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.title %></td>
            <td><%= city.users.size %></td>
            <td><%= city.tasks.size %></td>
            <td><%= city.deleted %></td>
            <td>
              <%= link_to 'Edit', edit_admin_city_path(city) %> |
              <% unless city.deleted %>
                <%= link_to 'Destroy', admin_city_path(city),
                            data: {confirm: "Delete #{city.title} ?"}, method: :delete %>
              <% else %>
                <%= link_to 'Restore', restore_admin_city_path(city), data: {confirm: "Restore #{city.title} ?"},
                            method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>