<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>

    <h1 class="df-title">All categories</h1>
    <div class="row row-sm">

      <div data-label="Categories tree" class="col-sm-5">
        <ul>
          <% Category.roots.each do |category| %>
            <li><%= link_to category.title, edit_admin_category_path(category) %>
              <ul>
                <% category.children.each do |chilren_category| %>
                  <li><%= link_to chilren_category.title, edit_admin_category_path(chilren_category) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>

      <div data-label="All categories" class="df-example demo-table col-sm-7">
        <table id="smart-table" class="table">
          <thead>
          <tr>
            <th class="wd-30p">Title</th>
            <th class="wd-5p">Root</th>
            <th class="wd-25p">Parent</th>
            <th class="wd-5p">Deleted</th>
            <th class="wd-10p">Links</th>
          </tr>
          </thead>
          <tbody>
          <% @all_categories.each do |category| %>
            <tr>
              <td><%= link_to short_title(category.title, 25), edit_admin_category_path(category) %></td>
              <td><%= category.root? %></td>
              <td>
                <% if category.parent %>
                  <%= link_to short_title(category.parent.title, 15), edit_admin_category_path(category) %>
                <% end %>
              </td>
              <td><%= category.deleted %></td>
              <td>
                <%= link_to 'Edit', edit_admin_category_path(category) %><br/>
                <% unless category.deleted %>
                  <%= link_to 'Destroy', admin_category_path(category),
                              data: {confirm: "Delete #{category.title} ?"}, method: :delete %>
                <% else %>
                  <%= link_to 'Restore', restore_admin_category_path(category), data: {confirm: "Restore #{category.title} ?"},
                              method: :post %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<div class="buttons_container">
  <ul>
    <li><%= link_to "New", new_admin_category_path, class: 'btn btn-outline-success' %></li>

  </ul>
</div>
