<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#prices" class="nav-link">Prices</a>
    <a href="#dates" class="nav-link">Dates</a>
    <a href="#all_attr" class="nav-link">Attributes</a>
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/tasks">Tasks</a></li>
      <li class="breadcrumb-item active" aria-current="page">New category</li>
      <li class="breadcrumb-item small">Creating mode</li>
    </ol>
    <h1 class="df-title">New category</h1>

    <%= form_with model: @new_category, url: admin_categories_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :title, placeholder: "Category title", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Save", class: "btn btn-success" %>
          </div>
        </div>
        <div class="row row-sm mg-y-20">
          <div class="col-sm-12">
            <%= f.text_field :system_name, placeholder: "System name", class: 'form-control' %>
          </div>
        </div>

        <div class="row row-sm mg-y-20">
          <div class="col-sm-6">
            <%= f.select :category_id, @parent_categories, {}, {placeholder: "Parent category",
                                                                   class: 'form-control custom-select'} %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :position, placeholder: "Position", class: 'form-control' %>
          </div>
        </div>
      </div>

      <hr class="mg-y-20">
    <% end %>
    <hr class="mg-y-20">

    <div data-label="attributes" class="df-example demo-forms" id="all_attr">
      <div class="row row-sm">
        <% @new_category.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_categories_path, class: 'btn btn-outline-primary' %></li>
  </ul>
</div>