.m-top3 { margin-top:3px; }
.m-top5 { margin-top:5px; }
.m-top7 { margin-top:7px; }
.m-top10 { margin-top:10px; }
.m-top12 { margin-top:12px; }
.m-top13 { margin-top:13px; }
.m-top15 { margin-top:15px; }
.m-top17 { margin-top:17px; }
.m-top25 { margin-top:25px; }
.m-top30 { margin-top:30px; }
.m-top33 { margin-top:33px; }
.m-top35 { margin-top:35px; }
.m-top36 { margin-top:36px; }
.m-top40 { margin-top:40px; }
.m-top65 { margin-top:65px; }

.m-top-1 { margin-top: -1px; }
.m-top-6 { margin-top: -6px; }

.m-right5 { margin-right:5px; }
.m-right10 { margin-right:10px; }

.m-left5 { margin-left:5px; }
.m-left10 { margin-left:10px; }
.m-left16 { margin-left:16px; }
.m-left33 { margin-left:33px; }

.m-left-20 { margin-left:-20px; }

.m-bottom3 { margin-bottom:3px; }
.m-bottom5 { margin-bottom:5px; }
.m-bottom10 { margin-bottom:10px; }
.m-bottom15 { margin-bottom:15px; }

.p-bottom16 { padding-bottom:16px; }


.buttons_container {
  position: fixed;
  right: 5px;
  bottom: 2px;
  width: min-content;
  height: 50px;
  text-align: center;
  color: white;
  line-height: 45px;
  z-index: 99;
  ul {
    width: max-content;
    float: left;
    li {
      float: left;
      display: inline-block;
      a {
        margin-right: 10px;
      }
    }
  }
}

.content {
  .full_width {
    margin-left: 140px;
    padding-top: 60px;
  }
}

.navbar-header .navbar-brand {
  width: 117px;
}
.navbar-menu-wrapper {
  padding-left: 5px ;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
}