<div class="section-nav">
  <label class="nav-label">Speed links</label>
  <nav id="navSection" class="nav flex-column">
    <a href="#main_info" class="nav-link">Main info</a>
    <a href="#attr" class="nav-link">Attributes</a>
    <a href="#tasks" class="nav-link">Tasks</a>

<!--    <a href="#tasks" class="nav-link">His task_requests</a>-->
<!--    <a href="#tasks" class="nav-link">His reviews</a>-->
<!--    <a href="#tasks" class="nav-link">Review for this user</a>-->
  </nav>
</div>

<div class="content content-components">
  <div class="container">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="#">Admin panel</a></li>
      <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @user.email %></li>
      <li class="breadcrumb-item small">Editing mode</li>
    </ol>
    <h1 class="df-title"><%= @user.email %></h1>

    <%= form_with model: @user, url: admin_user_path, local: true do |f| %>
      <div data-label="main information" class="df-example demo-forms" id="main_info">
        <div class="row row-sm">
          <div class="col-sm-10">
            <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
          </div>
          <div class="col-sm-2 m-top-1">
            <%= f.submit "Update", class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <hr class="mg-y-20">
    <% end %>

    <hr class="mg-y-20">

    <div data-label="User attributes" class="df-example demo-forms" id="attr">
      <div class="row row-sm">
        <% @user.attributes.each do |attr| %>
          <%= attr %><br/>
        <% end %>
      </div>
    </div>

    <hr class="mg-y-20">

    <div data-label="Tasks" class="df-example demo-table" id="tasks">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-20p">Title</th>
          <th class="wd-20p">Category</th>
          <th class="wd-15p">States</th>
          <th class="wd-20p">Dates</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @user.tasks.each do |task| %>
          <tr>
            <td><%= task.id %></td>
            <td><%= link_to short_title(task.title, 15), edit_admin_task_path(task) %></td>
            <td>
              <% category = task.category %>
              <%= link_to category.parent.title, edit_admin_category_path(category.parent) %><br/>
              <%= link_to category.title, edit_admin_category_path(category) %>
            </td>
            <td>
              deleted: <%= task.deleted %><br/>
              state: <%= task.state %>
            </td>
            <td>
              crd: <%= pretty_datetime(task.created_at) %><br/>
              upd: <%= pretty_datetime(task.updated_at) %><br/>
              cmp_at: <%= pretty_datetime(task.completed_at) %><br/>
              cmpt: <%= pretty_datetime(task.completion_date) %>
            </td>
            <td>
              <%= link_to 'Edit', edit_admin_task_path(task) %><br/>
              <%= link_to 'Delete', admin_task_path(task), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="buttons_container">
  <ul>
    <li><%= link_to "Back", admin_users_path, class: 'btn btn-outline-success' %></li>
  </ul>
</div>