<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
    <h1 class="df-title">Users</h1>
    <div data-label="All users" class="df-example demo-table">
      <table id="smart-table" class="table">
        <thead>
        <tr>
          <th class="wd-5p">ID</th>
          <th class="wd-10p">Email</th>
          <th class="wd-10p">City</th>
          <th class="wd-3p">Rating</th>
          <th class="wd-3p">Tasks</th>
          <th class="wd-15p">Created</th>
          <th class="wd-20p">Deleted</th>
          <th class="wd-20p">Links</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= link_to user.city.title, edit_admin_city_path(user.city) %></td>
            <td><%= user.rating %></td>
            <td><%= user.tasks.size %></td>
            <td><%= pretty_datetime(user.created_at) %></td>
            <td><%= user.deleted %></td>
            <td>
              <%= link_to 'Real money', real_money_admin_user_path(user) %><br/>
              <%= link_to 'Virtual money', virtual_money_admin_user_path(user) %><br/>
              <%= link_to 'Edit', edit_admin_user_path(user) %><br/>
              <%= link_to 'Delete', admin_user_path(user), method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>