<div class="content">
  <div class="container full_width">
    <ol class="breadcrumb df-breadcrumbs mg-b-10">
      <li class="breadcrumb-item"><a href="/admin/dashboard">Admin panel</a></li>
      <li class="breadcrumb-item " aria-current="page">Users</li>
      <li class="breadcrumb-item" aria-current="page"><%= link_to @user.email, admin_user_path(@user) %></li>
      <li class="breadcrumb-item active" aria-current="page">Real money</li>
    </ol>
    <h1 class="df-title">Real money</h1>
    <div class="col-lg-12 col-xl-12 mg-t-10">
      <div class="card mg-b-10">
        <div class="card-body pd-y-30">
          <div class="d-sm-flex">
            <div class="media">
              <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-teal tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-6">
                <i data-feather="bar-chart-2"></i>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold tx-nowrap mg-b-5 mg-md-b-8">Real money</h6>
                <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><%= pretty_price(@user.real_money.amount) %></h4>
              </div>
            </div>
            <div class="media mg-t-20 mg-sm-t-0 mg-sm-l-15 mg-md-l-40">
              <div class="wd-40 wd-md-50 ht-40 ht-md-50 bg-pink tx-white mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded op-5">
                <i data-feather="bar-chart-2"></i>
              </div>
              <div class="media-body">
                <h6 class="tx-sans tx-uppercase tx-10 tx-spacing-1 tx-color-03 tx-semibold mg-b-5 mg-md-b-8"><%= link_to 'Virtual money', virtual_money_admin_user_path(@user) %></h6>
                <h4 class="tx-20 tx-sm-18 tx-md-24 tx-normal tx-rubik mg-b-0"><%= pretty_price(@user.virtual_money.amount) %></h4>
              </div>
            </div>
          </div>
        </div><!-- card-body -->
        <div class="table-responsive">
          <table class="table table-dashboard mg-b-0">
            <thead>
            <tr>
              <th>Date</th>
              <th class="text-right">Diff</th>
              <th class="text-right">Before</th>
              <th class="text-right">After</th>
              <th class="text-right">Commit</th>
            </tr>
            </thead>
            <tbody>
            <% @records.each do |record| %>
            <% css_class = record.amount_diff < 0 ? 'tx-pink' : 'tx-teal' %>
              <tr>
                <td class="tx-color-03 tx-normal"><%= pretty_datetime(record.created_at) %></td>
                <td class="tx-medium text-right <%= css_class %>"><%= pretty_price(record.amount_diff) %></td>
                <td class="text-right "><%= pretty_price(record.amount_before) %></td>
                <td class="text-right "><%= pretty_price(record.amount_after) %></td>
                <td class="tx-medium text-right"><%= record.commit %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>