
.irs--flat {
  .irs-min,
  .irs-max {
    color: #8392a5;
    background-color:  #e5e9f2;
    @include border-radius();
  }

  .irs-from,
  .irs-to,
  .irs-single {
    background-color: #0168fa;
    @include border-radius();

    &::before { border-top-color: #0168fa; }
  }

  .irs-line {
    background-color: $border-color;
    @include border-radius();
  }

  .irs-bar { background-color: #0168fa; }
  .irs-bar--single {
    @include border-left-radius($border-radius);
  }

  .irs-handle {
    > i:first-child { background-color: darken(#0168fa, 5%); }

    &:hover,
    &:focus,
    &:active {
      cursor: w-resize;
      > i:first-child { background-color: darken(#0168fa, 7%); }
    }

    &.state_hover {
      &,&:hover,&:focus,&:active {
        > i:first-child { background-color: darken(#0168fa, 7%); }
      }
    }
  }

  .irs-grid-text { color: #8392a5; }
  .irs-grid-pol { background-color: $border-color; }
}

// round skin
.irs--round {
  .irs-min,
  .irs-max,
  .irs-from,
  .irs-to {
    font-size: 10px;
    @include border-radius();
  }

  .irs-min,
  .irs-max {
    background-color:  #e5e9f2;
    color: #8392a5;
  }

  .irs-grid-text {
    font-size: 10px;
    color: #8392a5;
  }

  .irs-grid-pol { background-color: $border-color; }
}

// square skin
.irs--square {
  .irs-line,
  .irs-grid-pol { background-color:  #e5e9f2; }

  .irs-min,
  .irs-max {
    background-color:  #e5e9f2;
    font-size: 10px;
    color: #8392a5;
  }

  .irs-grid-text {
    font-size: 10px;
    color: #8392a5;
  }

  .irs-from,
  .irs-to {
    background-color: #1b2e4b;
    font-size: 10px;
  }

  .irs-handle { border-color: #1b2e4b; }
  .irs-bar { background-color: #1b2e4b; }
}
