<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
  <meta name="author" content="ThemePixels">
  <title>Hiring Pro - admin panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'admin', media: 'all' %>
</head>
<body data-spy="scroll" data-target="#navSection" data-offset="120">

<%= yield %>

<%= javascript_pack_tag 'admin' %>
</body>
</html>
