
.footer {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
  letter-spacing: .3px;
  padding: 15px 25px;
  background-color: $gray-50;
  color: darken(#8392a5, 12%);
  border-top: 1px solid $border-color;
  text-transform: uppercase;
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    padding: 0;
    color: #1b2e4b;

    @include hover-focus() { color: #0168fa; }

    + .nav-link { margin-left: 25px; }
  }

  > div:last-child {
    margin-top: 15px;
    @include media-breakpoint-up(sm) { margin-top: 0; }
  }
}
