
.df-logo {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: -1px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  color: darken(#042893, 10%);
  margin-top: -4px;

  @include media-breakpoint-up(sm) { font-size: 22px; }
  @include media-breakpoint-up(lg) { font-size: 24px; }

  @include hover-focus() { color: darken(#042893, 5%); }

  span {
    display: inline-block;
    font-weight: $font-weight-base;
    color: #0168fa;
  }
}

.df-logo-initial {
  width: 40px;
  height: 40px;
  border: 2px solid #0168fa;
  color: #0168fa;
  @include border-radius(6px);
  display: flex;
  align-items: center;
  justify-content: center;


  p {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 0;
  }
}
